.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Responsive layout switch */
@media (max-width: 600px) {
	.gallery {
		flex-direction: column;
	}
}

.photo-item {
	margin: 10px;
	text-align: center;
}

.photo-info {
	margin-top: 10px;
	font-size: 0.8em;
	text-align: left;
}
