/* Setup */

html {
	font-size: 15px;
	box-sizing: border-box;
}

:root {
	/* hues - used to maintain consistency in the colours below */
	--hue-mono: 0;
	--hue-yellow: 39;
}

:root {
	/* mono */
	--color-mono-0: hsl(var(--hue-mono), 0%, 0%);
	--color-mono-10: hsl(var(--hue-mono), 0%, 10%);
	--color-mono-20: hsl(var(--hue-mono), 0%, 15%);
	--color-mono-30: hsl(var(--hue-mono), 0%, 22%);
	--color-mono-40: hsl(var(--hue-mono), 0%, 30%);
	--color-mono-50: hsl(var(--hue-mono), 0%, 38%);
	--color-mono-60: hsl(var(--hue-mono), 0%, 47%);
	--color-mono-70: hsl(var(--hue-mono), 0%, 56%);
	--color-mono-80: hsl(var(--hue-mono), 0%, 66%);
	--color-mono-90: hsl(var(--hue-mono), 0%, 77%);
	--color-mono-95: hsl(var(--hue-mono), 0%, 88%);
	--color-mono-99: hsl(var(--hue-mono), 0%, 97%);
	--color-mono-100: hsl(var(--hue-mono), 0%, 100%);
	/* yellow */
	--color-yellow-05: hsl(var(--hue-yellow), 72%, 10%);
	--color-yellow-10: hsl(var(--hue-yellow), 71%, 17%);
	--color-yellow-20: hsl(var(--hue-yellow), 70%, 28%);
	--color-yellow-30: hsl(var(--hue-yellow), 71%, 38%);
	--color-yellow-40: hsl(var(--hue-yellow), 71%, 48%);
	--color-yellow-50: hsl(var(--hue-yellow), 87%, 50%);
	--color-yellow-60: hsl(var(--hue-yellow), 85%, 57%);
	--color-yellow-70: hsl(var(--hue-yellow), 85%, 65%);
	--color-yellow-80: hsl(var(--hue-yellow), 83%, 72%);
	--color-yellow-90: hsl(var(--hue-yellow), 83%, 79%);
	--color-yellow-95: hsl(var(--hue-yellow), 83%, 86%);
	--color-yellow-99: hsl(var(--hue-yellow), 77%, 93%);
}

:root {
	/* sizes */
	--size-zero: 0;
	--size-small-xx: 1px;
	--size-small-x: 0.5rem;
	--size-small: 0.75rem;
	--size-base: 1rem;
	--size-large: 1.25rem;
	--size-large-x: 1.5rem;
	--size-large-xx: 2rem;
	--size-large-xxx: 4rem;
}

:root {
	/* font family */
	--sans: "DM Sans", sans-serif;
	--serif: "DM Serif", serif;
	--mono: "DM Mono", monospace;
}

:root {
	--line-height-tight: 1.25em;
	--line-height-comfort: 1.5em;
	--line-height-spacious: 2.5em;
}

body {
	margin: 0;
	font-size: var(--size-base);
	font-family: var(--sans);
	font-weight: 200;
	font-style: normal;
	line-height: var(--line-height-comfort);
	min-height: 100vh;
	height: 100vh;
	max-height: 100vh;
	color: var(--color-mono-100);
	background-color: var(--color-mono-0);
}

.icon {
	font-family: "Material Symbols Outlined";
	font-style: normal;
	font-size: 80%;
	display: inline-block;
	position: relative;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	transform: scale(1.5);
	margin-right: 2px;
}

p {
	margin: 0;
	padding: 0;
	margin-bottom: var(--size-base);
}
p.large {
	font-size: var(--size-large-x);
	line-height: var(--line-height-tight);
	font-family: var(--serif);
	font-style: italic;
}

.dull {
	color: var(--color-mono-90);
}

a {
	color: var(--color-yellow-50);
	cursor: pointer;
}

a.no-underline {
	text-decoration: none;
}

a:hover {
	color: var(--color-yellow-40);
}

.sitename {
	font-size: var(--size-large);
	line-height: var(--line-height-comfort);
	margin: var(--size-zero);
	font-weight: 400;
	letter-spacing: 0.01em;
}

/* Layout */

#container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: var(--size-small-xx);
	grid-row-gap: var(--size-small-xx);
	box-sizing: border-box;
}

#container .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-clip: content-box;
	height: 100vh;
	max-height: 100vh;
	z-index: -1; /* Keep it behind the content */
	filter: blur(32px) brightness(50%);
	background-size: cover;
	background-position: center;
}

#sidebar {
	grid-area: 1 / 1 / 6 / 2;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: flex-start;
	box-sizing: border-box;
	padding: var(--size-large-x);
	margin: var(--size-large) 0 var(--size-large) var(--size-large);
	background: var(--color-mono-0);
	border-radius: var(--size-small-x);
}

#site {
	box-sizing: border-box;
}

#grid {
	align-content: flex-start;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 100%;
	overflow: auto;
}

.thumbnail {
	display: inline-flex;
	width: 20%;
	aspect-ratio: 1;
	box-sizing: border-box;
	background-color: var(--color-mono-20);
	border: var(--size-small-xx) solid var(--color-mono-0);
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
}

.thumbnail-content {
	display: block;
	transform: scale(1.5);
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.thumbnail-content:hover {
	transform: scale(1);
	transition: all 0.2s ease-in-out;
}

.thumbnail-content.is-visible {
	opacity: 1;
}

#image-viewer {
	grid-area: 1 / 2 / 6 / 5;
	padding: var(--size-large-x);
	box-sizing: border-box;
	text-align: center;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#image-viewer img {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	z-index: 2;
	object-fit: contain;
}

#meta-viewer {
	grid-area: 1 / 5 / 6 / 6;
	box-sizing: border-box;
	padding: var(--size-large-x);
	margin: var(--size-large) var(--size-large) var(--size-large) 0;
	background: var(--color-mono-0);
	border-radius: var(--size-small-x);
}

#meta-viewer table {
	border-collapse: collapse;
	margin-bottom: var(--size-base);
	width: 100%;
}

#meta-viewer .card {
	align-items: center;
	border-radius: var(--size-small-xx);
	border: var(--size-small-xx) solid var(--color-mono-40);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--size-small);
	justify-content: space-evenly;
	padding: var(--size-base);
}

#footer {
	display: flex;
	margin-top: var(--size-base);
}

.spacer {
	display: block;
	height: var(--size-base);
}

tr {
	border-bottom: var(--size-small-xx) solid var(--color-mono-40);
	vertical-align: top;
}

tr:last-child {
	border-bottom: none;
}

/* h2 {
	display: block;
	font-size: var(--size-large);
	line-height: var(--line-height-comfort);
	margin: var(--size-zero);
	margin-bottom: var(--size-base);
	font-weight: 400;
	font-style: normal;
	color: var(--color-mono-80);
} */

.meta-table {
	font-size: var(--size-base);
	line-height: var(--line-height-spacious);
}

.meta-label {
	font-weight: 300;
}

.meta-value {
	font-family: var(--mono);
	font-size: 98%;
}

:focus-visible {
	outline: 2px solid var(--color-yellow-50);
	outline-offset: 2px;
}
